@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin2 {
	0% {
		stroke-dasharray: 1, 800;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 400, 400;
		stroke-dashoffset: -200px;
	}
	100% {
		stroke-dasharray: 800, 1;
		stroke-dashoffset: -800px;
	}
}

@keyframes spin3 {
	to {
		transform: rotate(360deg);
	}
}

.spin2 {
	transform-origin: center;
	animation:
		spin2 1.5s ease-in-out infinite,
		spin3 2s linear infinite;
	animation-direction: alternate;
}

@layer base {
	body {
		@apply tabular-nums text-neutral-100 accent-primary hidden [.wf-active>&]:block;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
		/* biome-ignore lint/complexity/noImportantStyles: legacy */
		-moz-appearance: textfield !important;
	}

	button,
	a,
	div,
	aside {
		@apply focus:outline-none focus-visible:ring-1 focus-visible:outline-none focus-visible:ring-white;
	}
}

/* react-toastify overrides */
:root {
	--toastify-color-dark: #18181b;
	--toastify-text-color-dark: #fafafa;

	--toastify-color-info: #fafafa;
	--toastify-color-success: #22c55e;
	--toastify-color-warning: #f97316;
	--toastify-color-error: #ef4444;

	--toastify-text-color-info: #fafafa;
	--toastify-text-color-success: #fafafa;
	--toastify-text-color-warning: #fafafa;
	--toastify-text-color-error: #fafafa;
}
